.bg {
    /* The image used */
    background-image: url("../images/fotter.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.bg-custom{
    background-color: #3b3460;
}

.custom{
  margin-right: 209.5px;
  margin-left: 209.5px;
  
  color: white;
 
}
.raw-1{
  height: 135px,
}